$colorFont: #353535;
$colorWhite: #fff;
$colorPromo: #98403F;
$colorPrice: #E66E00;



@media (min-width: 648px) {

}


@media (min-width: 960px) {
    
}



@media (min-width: 1366px) {
    
}


@media (min-width: 1880px) {
    
}