<section class="product-card_main">
    <div class="container">
        <div class="content_flex">
            <div class="content_main">
                <div class="content_main-title">
                    <h1 class="main_title">Мульти ланч-бокс для підігріву та приготування їжі NEOR HEAT 06L50 WT </h1>
                    <p class="title_descr">Данч-бокс для підігріву або приготування їжі вдома, в школі,
                        в офісі або під час подорожі.</p>
                    <div class="content_main-action">
                        <div class="block_honors">
                            <p class="honors_descr">Відзначено Знаком «Вибір Країни»</p>
                            <img src="img/honors.svg" alt="" class="honors_img">
                        </div>
                        <div class="block_gif">
                            <img src="img/gif.gif" alt="">
                            <img src="img/goods.png" alt="" class="goods_img">
                        </div>
                    </div>
                </div>
                <div class="img_good">
                    <img src="img/goods.png" alt="" class="goods_img">
                </div>
                <div class="block_rigth">
                    <div class="content_main-prices">
                        <div class="default_price">
                            <p class="price_title">Ціна</p>
                            <span class="price">1 835₴</span>
                        </div>
                        <div class="promotional_price">
                            <div class="old_price">
                                <p class="price_title">Стара ціна</p>
                                <span class="price">1 835₴</span>
                            </div>
                            <span class="border"></span>
                            <div class="new_price">
                                <p class="price_title">Акційна ціна</p>
                                <span class="price">1 835₴</span>
                            </div>

                        </div>
                        <div id="timer">
                            <p>До завершення акції</p>
                            <span id="hours">23</span>
                            <span>:</span>
                            <span id="minutes">59</span>
                            <span>:</span>
                            <span id="seconds">59</span>
                        </div>
                    </div>
                    <div class="content_services">
                        <div class="services_title">
                            <span class="title_span">Cервіси продовження гарантії
                                <div class="tooltip">
                                    <span class="close"></span>
                                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                                        Ipsum
                                        является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                                </div>
                            </span>
                            <div class="checkbox">
                                <input type="checkbox" class="custom-checkbox" id="checkbox1" name="checkbox_modal">
                                <label class="checkbox_label" data-checkbox-id="checkbox1"
                                    for="checkbox1">Подовження гарантії на 1 рік <i>499₴</i></label>
                            </div>
                            <a href="#" class="btn_buy">КУПИТИ</a>
                            <ul class="methods_payment">
                                <p>Оплата частинами:</p>
                                <li>
                                    <img src="img/privat.svg" alt="">
                                    <span>ПриватБанк</span>
                                </li>
                                <li>
                                    <img src="img/mono.svg" alt="">
                                    <span>Монобанк</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_group">
                        <div class="block_descr">
                            <h4 class="group_title">клуб NEOR</h4>
                            <p class="group_descr">Створений для тебе та для твоїх розумних покупок</p>
                            <a href="#" class="group_link">Приєднатися</a>
                        </div>
                        <div class="img">
                            <img src="img/hero.png" alt="">
                        </div>
                    </div>
                </div>

            </div>

            <ul class="content_bottom">
                <li class="content_bottom-item">
                    <div class="img">
                        <img src="img/item_main-1.svg" alt="">
                    </div>
                    <p>Безплатна доставка від 2 000₴</p>
                </li>
                <li class="content_bottom-item">
                    <div class="img">
                        <img src="img/item_main-2.svg" alt="">
                    </div>
                    <p>Обмін/повернення товару впродовж 20 днів</p>
                </li>
                <li class="content_bottom-item">
                    <div class="img">
                        <img src="img/item_main-3.svg" alt="">
                    </div>
                    <p>Гарантія 12 місяців</p>
                </li>
                <li class="content_bottom-item">
                    <div class="img">
                        <img src="img/item_main-4.svg" alt="">
                    </div>
                    <p>150₴ на твій перший обід</p>
                </li>
            </ul>
        </div>
    </div>
</section>