<div class="product-card_functionality">
    <div class="container">
        <h2 class="title">ФУНКЦІОНАЛЬНІСТЬ</h2>
        <div class="block_content">
            <div class="block_default img_left">
                <div class="img">
                    <img src="img/func_img.png" alt="">
                </div>
                <div class="block_descr">
                    <p class="text_bold">Може підтримувати температуру 55° до 6 годин. Має 4 базові режими роботи:</p>
                    <ul class="descr_list">
                        <li class="list_item">
                            <span>Приготування
                            </span>
                            <p>Встановлений час роботи режиму – 20 хв. Температура не змінюється, ланч-бокс працює у
                                режимі постійної підтримки максимальної температури за заданий проміжок часу. Після
                                завершення часу прилад автоматично переходить у режим очікування.</p>
                        </li>
                        <li class="list_item">
                            <span>Тушкування</span>
                            <p>Встановлений час роботи режиму – 60 хв. При натисканні кнопки “Управління/Відміна” можна
                                змінити час приготування в межах від 20 до 120 хвилин з інтервалом у 10 хвилин.
                                Після завершення часу прилад автоматично переходить у режим очікування.
                            </p>
                        </li>
                        <li class="list_item">
                            <span>Квітковий чай</span>
                            <p>Температура нагріву за умовчуванням становить 100°C. Можна вибрати бажану температуру
                                приготування в межах від 55°C до 100°C. Час роботи режиму не встановлюється. Під час
                                роботи на дисплеї відображається поточна температура.</p>
                        </li>
                        <li class="list_item">
                            <span> Підтримання тепла</span>
                            <p>Температура нагріву за змовчуванням становить 55°C. Час дії режиму 6 годин. Це стале
                                налаштування і його змінити не можна. Доступний вибір температури від 55°C до 70°C з
                                інтервалом 5°C. Після завершення часу роботи прилад автоматично повертається в режим
                                очікування.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block_default">
                <div class="block_descr">
                    <p>Корпус виготовлений з міцного пластику, що забезпечує надійний захист від пошкоджень приладу, від
                        падінь та ударів. Крім того, він щільно закривається, що дозволяє зберігати їжу безпечно та
                        запобігає википанню її вмісту. Розмір ланч-боксу в коробці – 130x132x193 мм.
                    </p>
                    <p>Завдяки низькому споживанню енергії ланч-бокс легко під’єднати до зовнішніх джерел енергії та
                        насолоджуватися смачною та теплою їжею навіть коли немає світла.</p>
                </div>
                <a data-fancybox href="https://www.youtube.com/watch?v=eAJyxh2_gzI&ab_channel=NEOR%E2%80%94%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%BE-%D1%86%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%B5%D0%BE%D0%B1%D0%BB%D0%B0%D0%B4%D0%BD%D0%B0%D0%BD%D0%BD%D1%8F" class="video_link">
                    <img src="img/func_bg.png" alt="">
                    <span class="button_play"></span>
                </a>
            </div>
        </div>
    </div>
</div>