<section class="product-card_promo">
    <div class="container">
        <h2 class="title">100 ₴ на ваш рахунок</h2>
        <div class="block_content">
            <div class="img">
                <img src="img/promo_bg.png" alt="">
            </div>
            <div class="default_block">
                <span>Заробіть 100₴ на ваш рахунок мобільного за відео-відгук!</span>
                <ul class="promo_list">
                    <li class="list_item">
                        <p>Зніміть короткий відео-відгук, в якому поділиться вашими враженнями,
                            відгуками та рекомандаціями про будь-який товар NEOR™</p>
                    </li>
                    <li class="list_item">
                        <p>Опублікуйте це відео на своїй сторінці у соц.мережах ввідміткою нашої сторінки в Instagram
                            “@NEOR.UA” або “@NEOR.COM.UA” - в Facebook.</p>
                    </li>
                    <li class="list_item">
                        <p>Пришліть скрін свого допису або саме відео на нашу електронну пошту, INFO@NEOR.UA, разом з
                            вашим ім’ям та номером телеофну.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>