<section class="product-card_main">
    <div class="container">
        <div class="content_flex">
            <div class="content_main">
                <div class="content_main-title">
                    <h1 class="main_title">Мульти ланч-бокс для підігріву та приготування їжі NEOR HEAT 06L50 WT </h1>
                    <p class="title_descr">Данч-бокс для підігріву або приготування їжі вдома, в школі,
                        в офісі або під час подорожі.</p>
                    <div class="content_main-action">
                        <div class="block_honors">
                            <p class="honors_descr">Відзначено Знаком «Вибір Країни»</p>
                            <img src="img/honors.svg" alt="" class="honors_img">
                        </div>
                        <div class="block_gif">
                            <img src="img/gif.gif" alt="">
                            <img src="img/goods.png" alt="" class="goods_img">
                        </div>
                    </div>
                </div>
                
                <div class="content_main-prices">
                    <div class="default_price">
                        <p class="price_title">Ціна</p>
                        <span class="price">1 835₴</span>
                    </div>
                    <div class="promotional_price">
                        <div class="old_price">
                            <p class="price_title">Стара ціна</p>
                            <span class="price">1 835₴</span>
                        </div>
                        <span class="border"></span>
                        <div class="new_price">
                            <p class="price_title">Акційна ціна</p>
                            <span class="price">1 835₴</span>
                        </div>

                    </div>
                </div>
            </div>

            <ul class="contant_bottom">
                <li class="content_bottom-item">
                    <img src="img/item_main-1.svg" alt="">
                    <p>Безплатна доставка від 2 000₴</p>
                </li>
                <li class="content_bottom-item">
                    <img src="img/item_main-2.svg" alt="">
                    <p>Обмін/повернення товару впродовж 20 днів</p>
                </li>
                <li class="content_bottom-item">
                    <img src="img/item_main-3.svg" alt="">
                    <p>Гарантія 12 місяців</p>
                </li>
                <li class="content_bottom-item">
                    <img src="img/item_main-4.svg" alt="">
                    <p>150₴ на твій перший обід</p>
                </li>
            </ul>
        </div>
    </div>
</section>