<section class="product-card_features">
    <h2 class="title">Особливості</h2>
    <div class="block_content">
        <div class="swiper_features swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/features_bg.png" alt="">
                    </div>
                    <div class="text_content">
                        <div class="block_item"
                            style="background: url('img/border_mini.png') center center/cover no-repeat;">
                            <img src="img/item_blur.svg" alt="">
                            <span class="number_slide"></span>
                        </div>
                        <div class="block_text">
                            <h5 class="item_title">Захист від перегріву</h5>
                            <p>Ця функція продовжує життя приладу, а приготування
                                відбувається у рамках обраної програми приготування</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper_btn">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>