<section class="product-card_characteristics">
    <div class="container">
        <h2 class="title">Характеристики</h2>
        <div class="block_content">
            <ul class="characteristics_list">
                <li class="list_item grey_bg">
                    <span>Потужність, W</span>
                    <p>500</p>
                </li>
                <li class="list_item ">
                    <span>Напруга, V</span>
                    <p>220</p>
                </li>
                <li class="list_item grey_bg">
                    <span>Частота, Гц</span>
                    <p>50</p>
                </li>
                <li class="list_item ">
                    <span>Тип керування</span>
                    <p>Сенсоний</p>
                </li>
                <li class="list_item grey_bg">
                    <span>Матеріал</span>
                    <p>Сталь, пластик</p>
                </li>
                <li class="list_item ">
                    <span>Габаритний розмір, мм</span>
                    <p>130х132х193</p>
                </li>
                <li class="list_item grey_bg">
                    <span>Довжина кабелю живлення, м</span>
                    <p>1</p>
                </li>
            </ul>
            <div class="block_img">
                <div class="good_img" style="background: url('img/border_gradient.svg') center center/cover no-repeat;">
                    <img src="img/good_item.png" alt="">
                </div>
                <a href="#" class="download_btn">Інструкція з використання</a>
            </div>
        </div>
    </div>
</section>